div.about {
  margin: 16px 32px 16px 32px;
}

mat-card::ng-deep.mat-card-header-text {
  text-align: center;
  width: 100%;
}

//mat-card {
  //display: flow;
  //box-sizing: border-box;
  //height: calc(100% - 8px);
  //margin: 16px;
  //width: calc(33% - 8px);
//}

//mat-card-header {
//  //text-align: center;
//}

//mat-card-content > span {
//  font-style: normal;
//  font-weight: bold;
//}

//.mat-card {
  //display: flex;
  //justify-content: start;
//}
