<div class="about">
  <h1>About</h1>

  <div class="parent flex-card-height" fxLayout="row" fxLayout.xs="column" fxLayoutGap="32px" fxFill>
    <mat-card fxFlex="33%" fxFill>
      <mat-card-header>
        <mat-card-title>hello there</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        this is for content
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex="33%" fxFill>
      <mat-card-header>
        <mat-card-title>hello there</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        this is for content
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex="33%" fxFill>
      <mat-card-header>
        <mat-card-title>hello there</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        this is for content
      </mat-card-content>
    </mat-card>

  </div>
</div>
