<div class="normal-chart" style="display:block;margin:0 auto;" [style.height.px]="height" [style.width.px]="width">
  <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [legend]="pieChartLegend"
          [colors]="chartColors">
  </canvas>
</div>
