<!--<mat-grid-list cols="{{(cardLayout).columns}}" rowHeight="{{(cardLayout).rowHeight}}">-->
<!--  <mat-grid-tile *ngFor="let entry of entries" [colspan]="(cardLayout).card.cols"-->
<!--                 [rowspan]="(cardLayout).card.rows">-->
<!--    <mat-card appMaterialElevation>-->
<!--      <mat-card-content>-->
<!--        <span>{{entry.name}}</span> {{entry.description}}-->
<!--      </mat-card-content>-->
<!--    </mat-card>-->
<!--  </mat-grid-tile>-->
<!--</mat-grid-list>-->
<div class="glossary">
  <h2>Glossary</h2>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let entry of entries" (opened)="panelOpen = true" (closed)="panelOpen = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{entry.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      {{entry.description}}
    </mat-expansion-panel>
  </mat-accordion>
</div>
