div.glossary {
  margin: 16px 32px 16px 32px;
  //opacity: 0.5;
  overflow: auto;
}

mat-card {
  box-sizing: border-box;
  height: calc(100% - 8px);
  width: calc(100% - 8px);
}

mat-card-content > span {
  font-style: normal;
  font-weight: bold;
}

mat-expansion-panel {
  //opacity: 0.5;
}

mat-expansion-panel-header {
  //opacity: 0.5;
}
