<!--<div class="main">-->
<!--  <div class="container">-->
<!--    <div class="column column-one" *ngIf="(isSmallScreen | async) === false">Left</div>-->
<!--    <div class="column column-two">-->
<!--      <div class="content">-->
        <mat-sidenav-container class="sidenav-container footer-margin">
          <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="'navigation'" [mode]="'over'">
            <mat-toolbar>Menu</mat-toolbar>
            <mat-nav-list>
              <a mat-list-item href="#" routerLink="home" (click)="drawer.toggle()">
                <mat-icon class="material-icons-two-tone">home</mat-icon>
                Home
              </a>
              <a mat-list-item href="#" routerLink="about" (click)="drawer.toggle()">
                <mat-icon class="material-icons-two-tone">info</mat-icon>
                About
              </a>
              <a mat-list-item href="#" routerLink="glossary" (click)="drawer.toggle()">
                <mat-icon class="material-icons-two-tone">local_library</mat-icon>
                Glossary
              </a>
              <a mat-list-item href="#" routerLink="privacy-policy" (click)="drawer.toggle()">
                <mat-icon class="material-icons-two-tone">privacy_tip</mat-icon>
                Privacy
              </a>
              <a mat-list-item href="#" routerLink="admin" (click)="drawer.toggle()">
                <mat-icon class="material-icons-two-tone">admin_panel_settings</mat-icon>
                Admin
              </a>
            </mat-nav-list>
          </mat-sidenav>
          <mat-sidenav-content>
            <mat-toolbar color="primary" class="mat-elevation-z3">
              <a routerLink="/home">
                <img width="80" alt="FoodStat Logo" src="assets/logo-fish-128.png"/>
              </a>
              <div *ngIf="(isSmallScreen | async) === false">
                <span>{{title}}</span>
              </div>
              <div class="spacer"></div>
              <mat-form-field *ngIf="showFilter">
                <mat-label>Filter</mat-label>
                <input #filterText matInput type="text" (keyup)="filterItems(filterText.value)"
                       [(ngModel)]="filterValue">
                <button mat-button *ngIf="filterText.value" matSuffix mat-icon-button aria-label="Clear"
                        (click)="filterText.value='';filterItems('')">
                  <mat-icon>clear</mat-icon>
                </button>
              </mat-form-field>
              <mat-icon class="material-icons-two-tone">light_mode</mat-icon>
              <mat-slide-toggle #darkModeToggle [formControl]="toggleControl"></mat-slide-toggle>
              <mat-icon class="material-icons-two-tone">dark_mode</mat-icon>
              <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon" class="material-icons-two-tone">menu</mat-icon>
              </button>
            </mat-toolbar>
            <router-outlet></router-outlet>
            <button mat-fab color="accent" class="mat-fab-bottom-right" aria-label="Add a category">
<!--              <img width="48" src="assets/macaw-128.png"/>-->
              <mat-icon>add</mat-icon>
            </button>
<!--            <div class="footer" *ngIf="(isSmallScreen | async) === true">Bottom Ad</div>-->
          </mat-sidenav-content>
        </mat-sidenav-container>
<!--      </div>-->
<!--    </div>-->
<!--    <div class="column column-three" *ngIf="(isSmallScreen | async) === false">Right</div>-->
<!--  </div>-->
<!--</div>-->
