div.content {
  width: 100%;
  overflow: hidden !important;
}

input {
  font-size: small;
}

mat-toolbar mat-form-field {
  margin-top: 15px;
  width: 25%;
}

mat-form-field mat-label {
  //color: black;
  font-size: small;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar span {
  font-family: Acme, Roboto;
  font-style: italic;
  font-size: xx-large;
  margin-left: 8px;
  margin-bottom: 8px;
}

.mat-toolbar mat-icon {
  margin: 0 4px 0 4px;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 140px;
}

.sidenav .mat-toolbar {
  width: auto;
}

.footer-margin {
  margin-bottom: 50px;
}

.mat-fab-bottom-right {
  right: 20px;
  bottom: 5px;
  position: fixed;
  margin: 8px 8px 8px 0;
}
