<div class="admin" fxLayout="column">
  <h1>Admin</h1>
  <div fxLayout.gt-xs="row" fxLayout.lt-sm="column" fxLayoutGap.gt-xs="32px" fxLayoutGap.lt-sm="16px">
    <div fxLayout="column" fxFlex.gt-xs="50" fxFlex.lt-sm="100">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input #title matInput type="text">
        <button mat-button *ngIf="title.value" matSuffix mat-icon-button aria-label="Clear" (click)="title.value='';">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Sub-Title</mat-label>
        <input #subtitle matInput type="text">
        <button mat-button *ngIf="subtitle.value" matSuffix mat-icon-button aria-label="Clear"
                (click)="subtitle.value='';">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field fxFlex.gt-xs="50" fxFlex.lt-sm="100">
        <mat-label>Article/Recipe</mat-label>
        <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="20" cdkAutosizeMaxRows="20"></textarea>
      </mat-form-field>
      <button mat-raised-button color="accent" aria-label="Add Thing" (click)="save()">
        Save/Overwrite
      </button>
      <div fxFlexFill></div>
    </div>

    <div fxFlex.gt-xs="50" fxFlex.lt-sm="100">
      <mat-label>Articles</mat-label>
      <mat-list>
        <button mat-list-item>Item 1</button>
        <button mat-list-item>Item 2</button>
        <button mat-list-item>Item 3</button>
        <button mat-list-item>Item 4</button>
        <button mat-list-item>Item 5</button>
        <button mat-list-item>Item 6</button>
        <button mat-list-item>Item 7</button>
        <button mat-list-item>Item 1</button>
        <button mat-list-item>Item 2</button>
        <button mat-list-item>Item 3</button>
        <button mat-list-item>Item 4</button>
        <button mat-list-item>Item 5</button>
        <button mat-list-item>Item 6</button>
        <button mat-list-item>Item 7</button>
        <button mat-list-item>Item 1</button>
        <button mat-list-item>Item 2</button>
        <button mat-list-item>Item 3</button>
        <button mat-list-item>Item 4</button>
        <button mat-list-item>Item 5</button>
        <button mat-list-item>Item 6</button>
        <button mat-list-item>Item 7</button>
        <button mat-list-item>Item 1</button>
        <button mat-list-item>Item 2</button>
        <button mat-list-item>Item 3</button>
        <button mat-list-item>Item 4</button>
        <button mat-list-item>Item 5</button>
        <button mat-list-item>Item 6</button>
        <button mat-list-item>Item 7</button>
      </mat-list>
    </div>
  </div>
</div>
