<div class="card-container">
  <mat-grid-list cols="{{cols}}" rowHeight="300">
    <mat-grid-tile *ngFor="let card of cards" [colspan]="1" [rowspan]="1">
      <div class="flippable-card" [ngClass]="{'flipped':card.flipped}">
        <mat-card class="dashboard-card">
          <mat-card-header color="primary">
            <mat-card-title>{{card.name}}</mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div><app-food-pie-chart></app-food-pie-chart></div>
          </mat-card-content>
          <mat-card-footer>
            <div class="spacer"></div>
            <mat-card-actions>
              <button mat-button (click)="card.flipped = !card.flipped">Details</button>
            </mat-card-actions>
          </mat-card-footer>
        </mat-card>
        <mat-card class="dashboard-card back">
          <mat-card-header>
            <mat-card-title>{{card.name}}</mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div>This is the back of the card</div>
          </mat-card-content>
          <mat-card-footer>
            <div class="spacer"></div>
            <mat-card-actions>
              <button mat-button (click)="card.flipped = !card.flipped">Details</button>
            </mat-card-actions>
          </mat-card-footer>
        </mat-card>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
