@import "~@angular/material/theming";

@include mat-core();
$angular-primary: mat-palette($mat-deep-orange, 500, 100, 900);
$angular-accent: mat-palette($mat-teal, A200, A100, A400);
$angular-warn: mat-palette($mat-red);
$angular-default-theme: mat-light-theme(
    (
      color: (
        primary: $angular-primary,
        accent: $angular-accent,
        warn: $angular-warn,
      ),
    )
);
@include angular-material-theme($angular-default-theme);

$angular-dark-theme: mat-dark-theme(
    (
      color: (
        primary: $angular-primary,
        accent: $angular-accent,
        warn: $angular-warn,
      ),
    )
);
.darkMode {
  @include angular-material-color($angular-dark-theme);
}

html, body {
  height: 100%;
}

body {
  overflow: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px lightgray;
  border-radius: 10px;
  background-color: grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: mat-color($angular-accent, darker);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkgray;
}

.spacer {
  flex: 1;
}

//.card-container {
//  margin-left: 32px;
//  margin-right: 32px;
//  position: relative;
//  -webkit-perspective: none;
//  perspective: none;
//}
//
//.flippable-card {
//  width: 100%;
//  height: 100%;
//  position: absolute;
//  transform-style: preserve-3d;
//  transition: transform 500ms;
//}
//
//.flippable-card mat-card {
//  flex: 1;
//  margin: 0;
//  display: block;
//  position: absolute;
//  backface-visibility: hidden;
//}
//
//.flippable-card .back {
//  transform: rotateY(180deg);
//}
//
//.flippable-card.flipped {
//  transform: rotateY(180deg);
//}
//.mat-card-actions .mat-button,
//.mat-card-actions .mat-raised-button,
//.mat-card-actions .mat-stroked-button {
//  margin: 0 !important;
//}
//
//.mat-card-actions[align="end"] .mat-button:last-child,
//.mat-card-actions[align="end"] .mat-raised-button:last-child,
//.mat-card-actions[align="end"] .mat-stroked-button:last-child {
//  margin: 0 !important;
//}
//
//.mat-card-actions[align="start"] .mat-button:first-child,
//.mat-card-actions[align="start"] .mat-raised-button:first-child,
//.mat-card-actions[align="start"] .mat-stroked-button:first-child {
//  margin: 0 !important;
//}
//
//.mat-card-actions .mat-button,
//.mat-card-actions .mat-raised-button,
//.mat-card-actions .mat-stroked-button {
//  margin: 0 !important;
//}
//
//.mat-card-actions[align="end"] .mat-button:last-child,
//.mat-card-actions[align="end"] .mat-raised-button:last-child,
//.mat-card-actions[align="end"] .mat-stroked-button:last-child {
//  margin: 0 !important;
//}
//
//.mat-card-actions[align="start"] .mat-button:first-child,
//.mat-card-actions[align="start"] .mat-raised-button:first-child,
//.mat-card-actions[align="start"] .mat-stroked-button:first-child {
//  margin: 0 !important;
//}



//.mat-table {
//  overflow-x: scroll;
//}
//
//.mat-cell,
//.mat-header-cell {
//  word-wrap: initial;
//  display: table-cell;
//  padding: 0px 10px;
//  line-break: unset;
//  width: 100%;
//  white-space: nowrap;
//  overflow: hidden;
//  vertical-align: middle;
//}
//.mat-row,
//.mat-header-row {
//  display: table-row;
//}


//column display css
//.main {
//  margin: 0 !important;
//  width: 100%;
//}
//
//.container {
//  display: flex;
//  flex-direction: row;
//  margin-top: 0;
//  min-height: max-content;
//  width: 100%;
//}
//
//.column {
//  border: dashed 1px red;
//  background-color: transparent !important;
//  flex-grow: 1;
//  flex-shrink: 1;
//  flex-basis: min-content;
//  min-height: max-content;
//  //overflow-y: auto;
//  //-ms-overflow-y: auto;
//  width: 100%;
//}

.column-one {
  background-color: transparent !important;
  //background: rgba(255, 255, 255, 0.7071);
  //border-right: solid 1px rgb(63, 63, 63);
  height: auto;
  order: 1;
  text-align: center;
  width: 50px;
}

.column-two {
  background-color: transparent !important;
  //border: solid 1px red;
  //border-left: solid 1px rgb(176, 176, 176);
  //border-right: solid 1px rgb(176, 176, 176);
  height: max-content;
  margin-top: 0;
  order: 2;
  //overflow: auto;
  //text-align: center;
  //padding-left: 20px;
  //padding-right: 20px;
  //width: 76%;
}

.column-three {
  background-color: transparent !important;
  //background: rgba(255, 255, 255, 0.7071);
  //border-left: solid 1px rgb(63, 63, 63);
  height: auto;
  order: 3;
  text-align: center;
  width: 50px;
}

div.footer {
  border: dashed 1px cadetblue;
  position: fixed;
  bottom: 0;
  height: 68px;
  margin: 0 !important;
  //background: rgba(255, 255, 255, 0.7071);
  //background-color: darkolivegreen;
}
