div.home {
  //margin: 16px 32px 16px 32px;
  overflow: hidden !important;
  //background: lightcoral;
}

mat-button-toggle-group {
  align-items: center;
  // if you change the 4px, it causes overflow-y, which it not desired
  margin: 8px 0px 4px 8px;
  width: calc(100% - 16px);
}

mat-button-toggle {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: fit-content;
}

table {
  border-collapse: separate;
  border-radius: 4em;
  -moz-border-radius: 4em;
  width: 100%;
}

//td { border: solid 1px #A2A2A2; }
//tr:first-child td:first-child { border-top-left-radius: 10px; }
//tr:first-child td:last-child { border-top-right-radius: 10px; }
//tr:last-child td:first-child { border-bottom-left-radius: 10px; }
//tr:last-child td:last-child { border-bottom-right-radius: 10px; }

.filter-container {
  display: flex;
  width: 100%;
}

.filter-container mat-form-field {
  margin-top: 8px;
  margin-right: 8px;
}

.mat-column-kcal,
.mat-column-gl,
.mat-column-gi,
.mat-column-fat,
.mat-column-carbohydrates,
.mat-column-fiber,
.mat-column-protein {
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}

//.mat-row:nth-child(even){
//  background-color: antiquewhite;
//}
//.mat-row:not(:nth-child(odd)){
//
//  background-color: whitesmoke;
//}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.table-container {
  max-height: calc(100vh - 184px); // 184px accounts for the mat-paginator
  overflow: auto;
}
