<div class="home">
  <mat-button-toggle-group #foodType="matButtonToggleGroup" [(ngModel)]="selected" class="mat-elevation-z3">
    <mat-button-toggle value="vegetable" (click)="filterTypes(foodType.value)">
      <img width="32" height="32" type="image/png" src="assets/vegetable.png"/>
      Vegetable
    </mat-button-toggle>
    <mat-button-toggle value="fruit" (click)="filterTypes(foodType.value)">
      <img width="32" height="32" type="image/png" src="assets/fruit.png"/>
      Fruit
    </mat-button-toggle>
    <mat-button-toggle value="fish" (click)="filterTypes(foodType.value)">
      <img width="40" height="40" type="image/png" src="assets/fish.png"/>
      Fish
    </mat-button-toggle>
    <mat-button-toggle value="" (click)="filterTypes(foodType.value)">
      <mat-icon>select_all</mat-icon>
      All
    </mat-button-toggle>
  </mat-button-toggle-group>
  <div class="mat-elevation-z2">
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container class="container" matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>
<!--        <ng-container matColumnDef="type">-->
<!--          <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>-->
<!--          <td mat-cell *matCellDef="let element">-->
<!--            <div *ngIf="element.type==='fruit'">-->
<!--              <img width="32" height="32" type="image/png" src="assets/fruit.png"/>-->
<!--            </div>-->
<!--            <div *ngIf="element.type==='vegetable'">-->
<!--              <img width="32" height="32" type="image/png" src="assets/vegetable.png"/>-->
<!--            </div>-->
<!--            <div *ngIf="element.type==='fish'">-->
<!--              <img width="40" height="40" type="image/png" src="assets/fish.png"/>-->
<!--            </div>-->
<!--          </td>-->
<!--        </ng-container>-->
        <ng-container matColumnDef="kcal">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Calories</th>
          <td mat-cell *matCellDef="let element">{{element.kcal}}</td>
        </ng-container>
        <ng-container matColumnDef="gl">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Glycemic Load</th>
          <td mat-cell *matCellDef="let element"> {{element.gl}}</td>
        </ng-container>
        <ng-container matColumnDef="gi">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Glycemic Index</th>
          <td mat-cell *matCellDef="let element"> {{element.gi}}</td>
        </ng-container>
        <ng-container matColumnDef="pie">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Macronutrients</th>
          <td mat-cell *matCellDef="let element">
            <div style="margin: auto;">
              <app-food-pie-chart [pieChartData]="element.pie"></app-food-pie-chart>
            </div>
            <!--      <button mat-icon-button color="accent" (click)="redirectToDetails(element.id)">-->
            <!--        <mat-icon class="mat-18">read_more</mat-icon>-->
            <!--      </button>-->
          </td>
        </ng-container>
        <ng-container matColumnDef="fat">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Fat</th>
          <td mat-cell *matCellDef="let element">{{element.fat}}</td>
        </ng-container>

        <ng-container matColumnDef="carbohydrates">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Carbohydrates</th>
          <td mat-cell *matCellDef="let element">{{element.carbohydrates}}</td>
        </ng-container>

        <ng-container matColumnDef="fiber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Fiber</th>
          <td mat-cell *matCellDef="let element">{{element.fiber}}</td>
        </ng-container>

        <ng-container matColumnDef="protein">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Protein</th>
          <td mat-cell *matCellDef="let element">{{element.protein}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
